html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-check-input,
.form-check-label {
  cursor: pointer;
}

button,
input {
  &:focus {
    box-shadow: none !important;
  }
}
